<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Navbar Brand -->
    <a class="navbar-brand" href="#">Train App</a>

    <!-- Navbar Toggle for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trains" routerLinkActive="active">Trains</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>